@font-face {
    font-family: 'Assistant';
    src: local('Assistant Regular'), local('Assistant-Regular'),
        url('Assistant-Regular.woff2') format('woff2'),
        url('Assistant-Regular.woff') format('woff'),
        url('Assistant-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }